:root {
  --active-color: #2196F3;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  margin: -1px;
}

img {
  display: block;
  max-width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
ul,
p {
  margin: 0px;
  padding: 0px;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--active-color);
  text-decoration: none;
}

.logo__header-span {
  color: #000000;
  text-decoration: none;
}

.logo__footer-span {
  color: #FFFFFF;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  background: #2196F3;
  border-radius: 2px;
  width: 100%;
  height: 4px;
}

.social-link {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 30px;
}

.social-link__item {
  margin-right: 10px;
}
.social-link__item:last-child {
  margin-right: 0px;
}

.social-link__img {
  text-decoration: none;
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}
.social-link__img:hover, .social-link__img:focus {
  background-color: var(--active-color);
}
.social-link__img:hover .social-link__icon {
  fill: #EEEEEE;
}
.social-link__img:focus .social-link__icon {
  fill: #EEEEEE;
}

.social-link__icon {
  fill: #AFB1B8;
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}
.social-link__icon:hover, .social-link__icon:focus {
  fill: #EEEEEE;
}

.social-link-footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.social-link-footer {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.social-link-footer__item {
  margin-right: 10px;
}
.social-link-footer__item:last-child {
  margin-right: 0px;
}

.social-link-footer__img {
  text-decoration: none;
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 12px;
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}
.social-link-footer__img:hover, .social-link-footer__img:focus {
  background-color: var(--active-color);
}

.social-link-footer__icon {
  fill: #FFFFFF;
}

@media screen and (min-width: 1200px) {
  .subscribe__form {
    margin-left: 93px;
  }
}

.subscribe__title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.subscribe {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.subscribe__input {
  display: block;
  width: 100%;
  height: 50px;
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 16px 15px;
  -webkit-transition: border-color var(--animation);
  transition: border-color var(--animation);
}
@media screen and (min-width: 480px) {
  .subscribe__input {
    width: 350px;
  }
}

.subscribe__input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__input::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__input:-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__input::-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__input:hover,
.subscribe__input:focus {
  border-color: #2196F3;
}

.subscribe__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding-left: 28px;
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  margin-left: 12px;
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}
.subscribe__button:hover, .subscribe__button:focus {
  color: #FFFFFF;
  background-color: #188CE8;
}
@media screen and (max-width: 1199px) {
  .subscribe__button {
    margin-top: 20px;
    margin-left: 0px;
  }
}

.subscribe__telegram-icon {
  fill: rgb(255, 255, 255);
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 50;
  -webkit-transition: visibility var(--animation), opacity var(--animation);
  transition: visibility var(--animation), opacity var(--animation);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.button-modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
}

.modal-close__icon {
  fill: currentColor;
}
.modal-close__icon:hover, .modal-close__icon:focus {
  fill: var(--active-color);
}

.button-modal__close:hover .modal-close__icon,
.button-modal__close:focus .modal-close__icon {
  fill: var(--active-color);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  display: block;
  margin-bottom: 12px;
}

.contact-form__field {
  position: relative;
}

.contact-form__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
  margin-bottom: 4px;
}

.contact-form__box {
  display: block;
  position: relative;
  margin-bottom: 10px;
}

.contact-form__name {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 42px;
  -webkit-transition: border var(--animation);
  transition: border var(--animation);
}
.contact-form__name:hover, .contact-form__name:focus {
  border: 1px solid var(--active-color);
  border-radius: 4px;
  outline: var(--active-color);
}

.contact-form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  pointer-events: none;
  fill: #212121;
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}
.contact-form__icon:hover, .contact-form__icon:focus {
  fill: var(--active-color);
}

.contact-form__name:hover + .contact-form__icon {
  fill: var(--active-color);
}

.contact-form__name:focus + .contact-form__icon {
  fill: var(--active-color);
}

.contact-form__comment {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 16px 12px;
  -webkit-transition: border var(--animation);
  transition: border var(--animation);
}

.contact-form__comment::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.contact-form__comment::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.contact-form__comment:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.contact-form__comment::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.contact-form__comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.contact-form__comment:hover,
.contact-form__comment:focus {
  border: 1px solid var(--active-color);
  outline: var(--active-color);
}

.contact-form__comment:hover::-webkit-input-placeholder, .contact-form__comment:focus::-webkit-input-placeholder {
  color: var(--active-color);
}

.contact-form__comment:hover::-moz-placeholder, .contact-form__comment:focus::-moz-placeholder {
  color: var(--active-color);
}

.contact-form__comment:hover:-ms-input-placeholder, .contact-form__comment:focus:-ms-input-placeholder {
  color: var(--active-color);
}

.contact-form__comment:hover::-ms-input-placeholder, .contact-form__comment:focus::-ms-input-placeholder {
  color: var(--active-color);
}

.contact-form__comment:hover::placeholder,
.contact-form__comment:focus::placeholder {
  color: var(--active-color);
}

.contact-form-accept {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.contact-form-checkbox {
  outline: 2px solid rgba(117, 117, 117, 0.5);
}

.contact-form-checkbox:checked {
  outline: 2px solid var(--active-color);
}

.contact-form-checkbox__icon {
  margin-right: 8px;
}

.contact-form-icon--accept {
  opacity: 0;
  -webkit-transition: opacity var(--animation);
  transition: opacity var(--animation);
}

.contact-form-checkbox:checked + .contact-form-checkbox__icon .contact-form-icon--accept {
  opacity: 1;
}

.contact-form-checkbox:checked + .contact-form-checkbox__icon .contact-form-icon--unaccept {
  opacity: 0;
}

.contact-form-icon--unaccept {
  -webkit-transition: opacity var(--animation);
  transition: opacity var(--animation);
}

.contact-form__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media screen and (min-width: 1200px) {
  .contact-form__text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.contact-form__link {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196F3;
}
@media screen and (min-width: 1200px) {
  .contact-form__link {
    font-size: 14px;
    line-height: 1.71;
  }
}

.contact-form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 52px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}

.contact-form__button:hover,
.contact-form__button:focus {
  background-color: #188CE8;
}

.mobile-button__open {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .mobile-button__open {
    display: none;
  }
}

.mobile-button__open-icon {
  fill: #000000;
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}
.mobile-button__open-icon:hover, .mobile-button__open-iconfocus {
  fill: var(--active-color);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity var(--animation), visibility var(--animation);
  transition: opacity var(--animation), visibility var(--animation);
  z-index: 10;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__container {
  position: relative;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

.mobile-menu__close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.mobile-menu__close-icon {
  fill: #000000;
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}
.mobile-menu__close-icon:hover, .mobile-menu__close-iconfocus {
  fill: var(--active-color);
}

.mobile-menu__nav {
  list-style: none;
}

.mobile-menu__nav-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__nav-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #000000;
  text-decoration: none;
}
.mobile-menu__nav-link:hover, .mobile-menu__nav-linkfocus {
  color: var(--active-color);
}

.mobile-menu__nav-current {
  color: var(--active-color);
}

.mobile-menu__contacts {
  margin-bottom: 64px;
  list-style: none;
}

.mobile-menu__contacts-link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--active-color);
  text-decoration: none;
}

.mobile-menu__contacts-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-menu__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.mobile-menu__socials-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--active-color);
  text-decoration: none;
}

.mobile-menu__socials-item:not(:last-child) {
  margin-right: 10px;
  margin-right: 10px;
}
.mobile-menu__socials-item:not(:last-child)::after {
  content: " ";
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-left: 10px;
}

.body {
  font-family: "Roboto", sans-serif;
  background: #FFFFFF;
}

.container {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.header-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .header-flex {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style-type: none;
    margin-left: 93px;
  }
}

.site-nav__item {
  margin-right: 50px;
}
.site-nav__item:last-child {
  margin-right: 0px;
}

.site-nav__studio-link.current {
  color: var(--active-color);
  position: relative;
}

.site-nav__studio-link {
  color: #212121;
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.site-nav__studio-link:hover, .site-nav__studio-link:focus {
  color: var(--active-color);
}

.site-nav__portfolio-link.current {
  color: var(--active-color);
  position: relative;
}

.site-nav__portfolio-link {
  color: #212121;
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.site-nav__portfolio-link:hover, .site-nav__portfolio-link:focus {
  color: var(--active-color);
}

.site-nav__contacts-link {
  color: #212121;
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.site-nav__contacts-link:hover, .site-nav__contacts-link:focus {
  color: var(--active-color);
}

.adres-header {
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .adres-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style-type: none;
  }
}
@media screen and (min-width: 1200px) {
  .adres-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style-type: none;
  }
}

@media screen and (min-width: 1200px) {
  .adres-header__item {
    margin-right: 50px;
  }
  .adres-header__item:last-child {
    margin-right: 0px;
  }
}

.adres-header__mail {
  color: #757575;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
@media screen and (min-width: 1200px) {
  .adres-header__mail {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.adres-header__mail:hover, .adres-header__mail:focus {
  color: var(--active-color);
}
.adres-header__mail:hover .envelope {
  fill: var(--active-color);
}
.adres-header__mail:focus .envelope {
  fill: var(--active-color);
}

.envelope {
  margin-right: 10px;
  fill: #757575;
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}
.envelope:hover, .envelope:focus {
  fill: var(--active-color);
}

.adres-header__tel {
  color: #757575;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
@media screen and (min-width: 1200px) {
  .adres-header__tel {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.adres-header__tel:hover, .adres-header__tel:focus {
  color: var(--active-color);
}
.adres-header__tel:hover .smartphone {
  fill: var(--active-color);
}
.adres-header__tel:focus .smartphone {
  fill: var(--active-color);
}

.smartphone {
  margin-right: 10px;
  fill: #757575;
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}
.smartphone:hover, .smartphone:focus {
  fill: var(--active-color);
}

.title__img {
  max-width: 100%;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/title/mobile-title.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/title/mobile-title.jpg");
  background-size: cover;
  background-color: #C4C4C4;
}
@media (min-device-pixel-ratio: 2) and (max-width: 767px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px), (min-resolution: 192dpi) and (max-width: 767px), (min-resolution: 2dppx) and (max-width: 767px) {
  .title__img {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/title/mobile-title@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/title/mobile-title@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .title__img {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/title/tablet-title.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/title/tablet-title.jpg");
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 768px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .title__img {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/title/tablet-title@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/title/tablet-title@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .title__img {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/title/desktop-title.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/title/desktop-title.jpg");
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 1200px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .title__img {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../img/title/desktop-title@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../img/title/desktop-title@2x.jpg");
  }
}

.title__section {
  padding-top: 118px;
  padding-bottom: 118px;
}
@media screen and (min-width: 1200px) {
  .title__section {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
  }
}

.title__button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 32px;
  margin: 30px auto 0px;
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}
.title__button:hover, .title__button:focus, .title__button:active {
  color: #FFFFFF;
  background-color: #188CE8;
}

@media screen and (min-width: 1200px) {
  .no-padding {
    padding-bottom: 0px;
  }
}

.advantage {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
@media screen and (min-width: 768px) {
  .advantage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .advantage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.advantage__item {
  width: 100%;
  margin-right: 30px;
}
@media screen and (min-width: 768px) {
  .advantage__item {
    max-width: 354px;
    margin: 15px;
  }
}

@media screen and (max-width: 767px) {
  .advantage__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.advantage__img {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F5F4FA;
  border-radius: 4px;
  width: 100%;
  padding: 25px 100px;
  margin-bottom: 30px;
}

.advantage__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.advantage__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
}

@media screen and (max-width: 1199px) {
  .display-none {
    display: none;
  }
}

.profession__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.profession {
  list-style-type: none;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profession__item {
  margin-right: 30px;
}
.profession__item:last-child {
  margin-right: 0px;
}

.profession__img {
  position: relative;
}

.profession__text {
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.team__section {
  background-color: #F5F4FA;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__title {
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (max-width: 1199px) {
  .team__title {
    font-size: 28px;
    line-height: 1.18;
  }
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: 1.17;
  }
}

.team {
  list-style-type: none;
  margin-top: 50px;
}
@media screen and (min-width: 768px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 0px;
  }
}

@media screen and (max-width: 767px) {
  .team__item {
    margin-bottom: 30px;
  }
  .team__item:last-child {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    margin-right: 30px;
  }
  .team__item:last-child {
    margin-right: 0px;
  }
}

.team__card {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767px) {
  .team__card {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .team__card {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__card {
    max-width: 270px;
  }
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  padding-top: 30px;
}

.team__function {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 16px;
}

/*.team__section {
    background-color: #F5F4FA;

    padding-top: 94px;
    padding-bottom: 94px;
}

.team__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;

    @media screen and(min-width: 1200px) {
        font-size: 36px;
        line-height: 1.17;
    }
}

.team {
    list-style-type: none;

    margin-top: 30px;
    @media screen and(min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: -15px;
        }

    @media screen and(min-width: 1200px){
        margin-top: 50px;
    }
}

.team__item {
    width: 270px;
    height: 428px;
    margin-right: 30px;
&:last-child {
    margin-right: 0px;}
}

.team__card {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and(min-width: 480px) {
        width: 450px;
    }
        @media screen and(min-width: 768px) {
            width: 354px;
        }
                @media screen and(min-width: 1200px) {
                    width: 270px;
                }
}

.team__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;

    padding-top: 30px;
}

.team__function {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #757575;
    text-align: center;

    padding-top: 10px;
    padding-bottom: 16px;
}*/
.clients__title {
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (max-width: 1199px) {
  .clients__title {
    font-size: 28px;
    line-height: 1.18;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    line-height: 1.17;
  }
}

.clients {
  list-style-type: none;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -15px;
  /*display: flex;
  flex-wrap: wrap;
  gap: 30px;*/
}
@media screen and (min-width: 1200px) {
  .clients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0;
    margin-top: 50px;
  }
}

.clients__item {
  margin-right: 30px;
  width: 210px;
  height: 92px;
  margin: 15px;
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
  }
}

/*&:last-child {
    margin-right: 0px;}
}*/
.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  border-color: rgb(175, 177, 184);
  -webkit-transition: border-color var(--animation);
  transition: border-color var(--animation);
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--active-color);
}
.clients__link:hover .clients__icon {
  fill: var(--active-color);
}
.clients__link:focus .clients__icon {
  fill: var(--active-color);
}

.clients__icon {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: rgb(175, 177, 184);
  display: block;
  margin: auto;
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}
.clients__icon:hover, .clients__icon:focus {
  fill: var(--active-color);
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.f-flex {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .f-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .f-flex {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    text-align: left;
  }
}

.f-flex__logo-address {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .f-flex__logo-address {
    margin-right: 165px;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .f-flex__logo-address {
    margin-right: 70px;
    margin-bottom: 0px;
  }
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 20px;
}

.address-footer {
  list-style-type: none;
}

.address-footer__item {
  margin-top: 9px;
}
.address-footer__item:first-child {
  margin-top: 0px;
}

.address-footer__post {
  color: #FFFFFF;
  text-decoration: none;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.address-footer__post:hover, .address-footer__post:focus {
  color: var(--active-color);
}

.address-footer__mail {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  margin-top: 9px;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.address-footer__mail:hover, .address-footer__mail:focus {
  color: var(--active-color);
}

.address-footer__tel {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  margin-top: 9px;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.address-footer__tel:hover, .address-footer__tel:focus {
  color: var(--active-color);
}

@media screen and (max-width: 767px) {
  .f-flex__social-link {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .f-flex__social-link {
    margin-bottom: 0px;
  }
}

.jobs-title {
  color: #F5F5F5;
}

.jobs-button-ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jobs-button-ul__item {
  margin-right: 8px;
}
.jobs-button-ul__item:last-child {
  margin-right: 0px;
}

.jobs-button--first {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #F5F4FA;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 25px;
  -webkit-transition: color var(--animation), background-color var(--animation), -webkit-box-shadow var(--animation);
  transition: color var(--animation), background-color var(--animation), -webkit-box-shadow var(--animation);
  transition: color var(--animation), background-color var(--animation), box-shadow var(--animation);
  transition: color var(--animation), background-color var(--animation), box-shadow var(--animation), -webkit-box-shadow var(--animation);
}
.jobs-button--first:hover, .jobs-button--first:focus, .jobs-button--first:active {
  color: #FFFFFF;
  background-color: var(--active-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.jobs-button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #F5F4FA;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
  -webkit-transition: color var(--animation), background-color var(--animation), -webkit-box-shadow var(--animation);
  transition: color var(--animation), background-color var(--animation), -webkit-box-shadow var(--animation);
  transition: color var(--animation), background-color var(--animation), box-shadow var(--animation);
  transition: color var(--animation), background-color var(--animation), box-shadow var(--animation), -webkit-box-shadow var(--animation);
}
.jobs-button:hover, .jobs-button:focus, .jobs-button:active {
  color: #FFFFFF;
  background: var(--active-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.jobs-img {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

.jobs-img__link {
  display: block;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow var(--animation);
  transition: -webkit-box-shadow var(--animation);
  transition: box-shadow var(--animation);
  transition: box-shadow var(--animation), -webkit-box-shadow var(--animation);
}
.jobs-img__link:hover, .jobs-img__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.jobs-img__link:hover .jobs-img__overlay, .jobs-img__link:focus .jobs-img__overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.jobs-img__overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background-color: var(--active-color);
  overflow: auto;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--animation);
  transition: -webkit-transform var(--animation);
  transition: transform var(--animation);
  transition: transform var(--animation), -webkit-transform var(--animation);
}

.jobs-img__div {
  position: relative;
  display: block;
  overflow: hidden;
}
.jobs-img__div:hover .jobs-img__overlay, .jobs-img__div:focus .jobs-img__overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.jobs-img-ul__item {
  margin-right: 30px;
  margin-bottom: 30px;
}
.jobs-img-ul__item:nth-child(3n) {
  margin-right: 0px;
}
.jobs-img-ul__item:nth-last-child(-n+3) {
  margin-bottom: 0px;
}

.jobs__card {
  width: 370px;
  padding: 20px 24px;
  border-left: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
}

.jobs__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.jobs__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 4px;
}/*# sourceMappingURL=main.css.map */