.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.f-flex {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.f-flex__div:first-child {
    margin-right: 70px;
}

.address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    margin-top: 20px;
}

.address-footer {
    list-style-type: none;
}

.address-footer__item {
    margin-top: 9px;

&:first-child {
    margin-top: 0px;}
}
.address-footer__post {
    color: #FFFFFF;
    text-decoration: none;

    transition: color var(--animation);

    &:hover,
    &:focus {
    color: var(--active-color);}
}

.address-footer__mail {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;

    margin-top: 9px;
    transition: color var(--animation);

    &:hover,
    &:focus {
    color: var(--active-color)}
}

.address-footer__tel {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;

    margin-top: 9px;
    transition: color var(--animation);

    &:hover,
    &:focus {
    color: var(--active-color)}
}
