.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.f-flex {
    text-align: center;
   
    @media screen and(min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: center;
    } 
    @media screen and(min-width: 1200px) {
        flex-wrap: nowrap;
        text-align: left;
    }
}

.f-flex__logo-address {
    margin-bottom: 60px;

    @media screen and(min-width: 768px) {
        margin-right: 165px;
        margin-bottom: 60px;
    }

    @media screen and(min-width: 1200px) {
        margin-right: 70px;
        margin-bottom: 0px;
    }  
}

.address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    margin-top: 20px;
}

.address-footer {
    list-style-type: none;
}

.address-footer__item {
    margin-top: 9px;

&:first-child {
    margin-top: 0px;}
}
.address-footer__post {
    color: #FFFFFF;
    text-decoration: none;

    transition: color var(--animation);

    &:hover,
    &:focus {
    color: var(--active-color);}
}

.address-footer__mail {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;

    margin-top: 9px;
    transition: color var(--animation);

    &:hover,
    &:focus {
    color: var(--active-color)}
}

.address-footer__tel {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;

    margin-top: 9px;
    transition: color var(--animation);

    &:hover,
    &:focus {
    color: var(--active-color)}
}
.f-flex__social-link { 
    @media screen and(max-width: 767px) {
        margin-bottom: 60px;    
    }
    @media screen and(min-width: 768px) {
        margin-bottom: 0px;
    }

}