.title__img {
    max-width: 1600px;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url("../img/img-overlay.jpg");
    background-size: cover;
    background-color: #C4C4C4;
}

.title__section {
    padding-top: 200px;
    padding-bottom: 200px;
}

.title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;

    width: 696px;
    margin-left: auto;
    margin-right: auto;
}

.title__button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    cursor: pointer;

    padding: 10px 32px;
    margin: 30px auto 0px;

    transition: background-color var(--animation);

    &:hover,
    &:focus,
    &:active {
    color: #FFFFFF;
    background-color: #188CE8;}
}